pipeline/conditionedpipeline.json
{
	"name": "conditionedpipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "conditioneddataset",
						"type": "DatasetReference",
						"parameters": {
							"ds_container": {
								"value": "@pipeline().parameters.pp_container",
								"type": "Expression"
							},
							"ds_directory": {
								"value": "@pipeline().parameters.pp_directory",
								"type": "Expression"
							},
							"ds_filename": "  "
						}
					},
					"fieldList": [
						"childItems",
						"exists",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "condition to move the file",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'txt')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "checking the file",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(item().name,'txt')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "false copy data",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "conditioneddataset1",
												"type": "DatasetReference",
												"parameters": {
													"ds_input": {
														"value": "@pipeline().parameters.pp_directory",
														"type": "Expression"
													},
													"ds_container": {
														"value": "@pipeline().parameters.pp_container",
														"type": "Expression"
													},
													"ds_filename": {
														"value": "@activity('Get Metadata1').output.childItems",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "conditioneddataset1",
												"type": "DatasetReference",
												"parameters": {
													"ds_input": {
														"value": "@pipeline().parameters.pp_output_directory",
														"type": "Expression"
													},
													"ds_container": {
														"value": "@pipeline().parameters.pp_container",
														"type": "Expression"
													},
													"ds_filename": {
														"value": "@activity('Get Metadata1').output.childItems",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "conditioneddataset1",
												"type": "DatasetReference",
												"parameters": {
													"ds_input": {
														"value": "@pipeline().parameters.pp_directory",
														"type": "Expression"
													},
													"ds_container": {
														"value": "@pipeline().parameters.pp_container",
														"type": "Expression"
													},
													"ds_filename": {
														"value": "@activity('Get Metadata1').output.childItems",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "conditioneddataset1",
												"type": "DatasetReference",
												"parameters": {
													"ds_input": {
														"value": "@pipeline().parameters.pp_output_directory",
														"type": "Expression"
													},
													"ds_container": {
														"value": "@pipeline().parameters.pp_container",
														"type": "Expression"
													},
													"ds_filename": {
														"value": "@activity('Get Metadata1').output.childItems",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pp_container": {
				"type": "string"
			},
			"pp_directory": {
				"type": "string"
			},
			"pp_filename": {
				"type": "string"
			},
			"pp_output_directory": {
				"type": "string"
			}
		},
		"annotations": []
	}
}