pipeline/ifconditionpipeline.json
{
	"name": "ifconditionpipeline",
	"properties": {
		"activities": [
			{
				"name": "Metadata of 2 files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ifconditiondataset1",
						"type": "DatasetReference",
						"parameters": {
							"ds_container": {
								"value": "@pipeline().parameters.pp_container",
								"type": "Expression"
							},
							"ds_directory": {
								"value": "@pipeline().parameters.pp_directory",
								"type": "Expression"
							},
							"ds_filename": "  "
						}
					},
					"fieldList": [
						"childItems",
						"exists",
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "getting the file from MD",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata of 2 files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata of 2 files').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "validate the type of file",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(item().name,'txt')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pp_container": {
				"type": "string"
			},
			"pp_directory": {
				"type": "string"
			}
		},
		"annotations": []
	}
}