pipeline/Metapipeline1.json
{
	"name": "Metapipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "parameterdataset3",
						"type": "DatasetReference",
						"parameters": {
							"ds_container": {
								"value": "@pipeline().parameters.pp_container",
								"type": "Expression"
							},
							"ds_directory": {
								"value": "@pipeline().parameters.pp_directory",
								"type": "Expression"
							},
							"ds_filename": "  "
						}
					},
					"fieldList": [
						"childItems",
						"exists",
						"itemType",
						"itemName",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pp_container": {
				"type": "string"
			},
			"pp_directory": {
				"type": "string"
			}
		},
		"annotations": []
	}
}