pipeline/poc1_pipeline.json
{
	"name": "poc1_pipeline",
	"properties": {
		"activities": [
			{
				"name": "unzip the file",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings",
								"preserveZipFileNameAsFolder": true
							}
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "poc_source_dataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "poc1_sink_dataset",
						"type": "DatasetReference",
						"parameters": {
							"ds_container": {
								"value": "@pipeline().parameters.pp_container",
								"type": "Expression"
							},
							"ds_directory": {
								"value": "@pipeline().parameters.pp_directory",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get the files in unzip folder",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "unzip the file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "poc1_get_dataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"exists",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter the salesLTproduct",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get the files in unzip folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get the files in unzip folder').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'SalesLTProduct.txt')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "filtered file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter the salesLTproduct ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter the salesLTproduct ').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy the file to final layer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "foreach_source_dataset",
									"type": "DatasetReference",
									"parameters": {
										"ds_inputfile": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"pp_container": {
				"type": "string"
			},
			"pp_directory": {
				"type": "string"
			},
			"pp_container1": {
				"type": "string"
			},
			"pp_directory1": {
				"type": "string"
			}
		},
		"annotations": []
	}
}